html {
  margin: 30px;
}
html body {
  height: -webkit-fill-available;
  box-sizing: border-box;
  background-color: rgb(1, 12, 21);
  font-family: "Fira Code", monospace;
}
html body #main-section {
  width: 100%;
  height: calc(100vh - 60px);
  border-radius: 7px;
  border: 1px solid #1e2d3d;
  background-color: rgb(1, 22, 39);
}
html body #main-section header.mobile-navbar {
  display: none;
}
html body #main-section header.mobile-navbar nav {
  height: 4rem;
  position: relative;
  line-height: 4rem;
  color: rgb(1, 22, 39);
  border-bottom: 1px solid #1e2d3d;
}
html body #main-section header.mobile-navbar nav input:checked + ul {
  height: 79vh;
}
html body #main-section header.mobile-navbar nav a.nav-logo {
  font-size: 17px;
  padding: 0 20px;
  color: rgb(96, 123, 150);
  text-decoration: none;
}
html body #main-section header.mobile-navbar nav span.menu-bars {
  font-size: 26px;
  color: rgb(96, 123, 150);
}
html body #main-section header.mobile-navbar nav span.menu-bars label {
  transition: all 0.2s linear;
}
html body #main-section header.mobile-navbar nav span.menu-bars label.active {
  transform: rotate(90deg);
}
html body #main-section header.mobile-navbar nav ul.menu {
  z-index: 999;
  overflow: hidden;
  transition: linear 0.2s;
  height: 0;
  position: relative;
  background-color: rgb(1, 22, 39);
}
html body #main-section header.mobile-navbar nav ul.menu li {
  padding: 0 24px;
  list-style: none;
  border-bottom: 1px solid #1e2d3d;
}
html body #main-section header.mobile-navbar nav ul.menu li a {
  color: rgb(96, 123, 150);
  text-decoration: none;
}
html body #main-section header.mobile-navbar nav ul.menu li a.active {
  color: #fff;
}
html body #main-section header.main-navbar nav {
  width: 100%;
  height: 45px;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  border-bottom: 1px solid #1e2d3d;
}
html body #main-section header.main-navbar nav a#nav-logo {
  max-width: 275px !important;
  min-width: 275px !important;
}
html body #main-section header.main-navbar nav a.nav-link-contact {
  border-right: none;
  border-left: 1px solid #1e2d3d;
}
html body #main-section header.main-navbar nav a.nav-link-contact:hover {
  opacity: 1;
  background-color: #1e2d3d;
}
html body #main-section header.main-navbar nav .active {
  color: #fff;
  border-bottom: 2px solid #fea55f;
}
html body #main-section header.main-navbar nav a {
  height: 100%;
  z-index: 99;
  display: flex;
  padding: 0 1.5rem;
  color: rgb(96, 123, 150);
  align-items: center;
  text-decoration: none;
  border-right: 1px solid #1e2d3d;
}
html body #main-section header.main-navbar nav a.nav-link:hover {
  opacity: 1;
  color: #fff;
  background-color: #1e2d3d;
}
html body #main-section section#_hello {
  width: 100%;
  height: calc(100% - 85px);
  flex: 1 1 auto;
  overflow: hidden;
  padding-left: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body #main-section section#_hello .css-blurry-gradient-blue {
  right: 10%;
  bottom: 10%;
  opacity: 0.7;
  width: 500px;
  height: 500px;
  rotate: 10deg;
  position: fixed;
  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #4d5bce, rgba(76, 0, 255, 0));
  border-radius: 100% 50% 100% 0;
}
html body #main-section section#_hello .css-blurry-gradient-green {
  top: 10%;
  right: 35%;
  opacity: 0.5;
  width: 400px;
  rotate: 20deg;
  height: 400px;
  position: fixed;
  filter: blur(100px);
  background: radial-gradient(circle at 50% 50%, #43d9ad, rgba(76, 0, 255, 0));
}
html body #main-section section#_hello .hero .head {
  padding-bottom: 4rem;
}
html body #main-section section#_hello .hero .head span,
html body #main-section section#_hello .hero .head h1 {
  line-height: 1;
  color: #e5e9f0;
}
html body #main-section section#_hello .hero .head span {
  font-size: 18px;
}
html body #main-section section#_hello .hero .head h1 {
  font-size: 58px;
  padding: 1rem 0;
}
html body #main-section section#_hello .hero .head h2 {
  font-size: 32px;
  color: #4d5bce;
}
html body #main-section section#_hello .hero .info {
  display: flex;
  flex-direction: column;
}
html body #main-section section#_hello .hero .info span {
  color: #607b96;
  font-size: 14px;
  line-height: 1;
  padding-bottom: 1rem;
}
html body #main-section section#_hello .hero .info span.info-show {
  display: none;
}
html body #main-section section#_hello .hero .info p {
  font-size: 13px;
  font-weight: 500;
}
html body #main-section section#_hello .hero .info p span.identifier {
  color: #4d5bce;
}
html body #main-section section#_hello .hero .info p span.variable-name {
  color: #43d9ad;
}
html body #main-section section#_hello .hero .info p span.operator {
  color: #fff;
}
html body #main-section section#_hello .hero .info p a.string {
  text-underline-offset: 4px;
  color: #e99287;
}
html body #main-section section#_hello .game .console {
  height: 370px;
  padding: 24px;
  max-width: 420px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(180deg, #237b6d, rgba(67, 217, 173, 0.13));
  border: 1px solid #000;
  justify-content: space-between;
}
html body #main-section section#_hello .game .console .corner-icons img {
  height: 20px;
  width: 20px;
}
html body #main-section section#_hello .game .console .corner-icons img.absolute {
  position: absolute;
}
html body #main-section section#_hello .game .console .corner-icons img.opacity-70 {
  opacity: 0.7;
}
html body #main-section section#_hello .game .console .corner-icons img.top-2 {
  top: 0.5rem;
}
html body #main-section section#_hello .game .console .corner-icons img.left-2 {
  left: 0.5rem;
}
html body #main-section section#_hello .game .console .corner-icons img.right-2 {
  right: 0.5rem;
}
html body #main-section section#_hello .game .console .corner-icons img.bottom-2 {
  bottom: 0.5rem;
}
html body #main-section section#_hello .game .console .game-screen {
  height: 320px;
  width: 192px;
}
html body #main-section section#_hello .game .console .game-consloe {
  height: 320px;
}
html body #main-section section#_hello .game .console .game-consloe p {
  text-align: left;
  color: #fff;
  font-size: 12px;
}
html body #main-section section#_hello .game .console .game-consloe .buttons {
  height: 134px;
  width: 164px;
  margin-left: auto;
  margin-right: 0;
  background-color: rgba(1, 20, 35, 0.1882352941);
  text-align: center;
  border-radius: 7px;
  padding: 10px;
  font-size: 12px;
}
html body #main-section section#_hello .game .console .game-consloe .buttons button {
  font-size: 12px;
  color: #fff;
  border-radius: 6px;
  line-height: 12px;
  height: 25px;
  width: 40px;
  align-items: center;
  background-color: #010c15;
  margin-bottom: 6px;
}
html body #main-section section#_hello .game .console .game-consloe .buttons button.button-up {
  margin: 0 auto 4px;
  display: block;
}
html body #main-section section#_hello .game .console .game-consloe .buttons button:hover {
  background-color: rgba(1, 12, 21, 0.8470588235);
  box-shadow: 0 0 10px #43d9ad;
}
html body #main-section section#_hello .game .console .game-consloe .score-board {
  width: 164px;
  margin-left: auto;
  margin-right: 0;
  padding-left: 1.25rem;
}
html body #main-section section#_hello .game .console .game-consloe .score-board span.score-item {
  width: 6px;
  height: 6px;
  opacity: 0.3;
  margin-right: 15px;
  display: inline-block;
  background-color: #43d9ad;
  border-radius: 50%;
  box-shadow: 0 0 10px #43d9ad;
}
html body #main-section section#_hello .game .console .game-consloe .score-board span.score-item.active {
  opacity: 1;
}
html body #main-section section#_hello .game .console .game-consloe a.skip-but {
  color: #fff;
  position: absolute;
  bottom: 24px;
  right: 24px;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  font-size: 12px;
  padding-block: 6px;
  padding-inline: 12px;
  text-decoration: none;
  transition: all 0.2 linear;
}
html body #main-section section#_hello .game .console .game-consloe a.skip-but:hover {
  background-color: #fff;
}
html body #main-section section#_about_me {
  display: flex;
  height: calc(100% - 85px);
}
html body #main-section section#_about_me .page-menu {
  height: 100%;
  max-width: 275px !important;
  min-width: 275px !important;
}
html body #main-section section#_about_me .page-menu .section {
  width: 62px;
  height: 100%;
  padding: 24px 0;
  border-right: 1px solid #1e2d3d;
}
html body #main-section section#_about_me .page-menu .section div.section-icon {
  color: #607b96;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  transition: all 0.2s linear;
  font-size: 20px;
}
html body #main-section section#_about_me .page-menu .section div.section-icon img {
  opacity: 0.4;
  cursor: pointer;
}
html body #main-section section#_about_me .page-menu .section div.section-icon img:hover {
  opacity: 1;
}
html body #main-section section#_about_me .page-menu .section div.section-icon img.active {
  opacity: 1;
}
html body #main-section section#_about_me .page-menu .section-content {
  width: 213px;
  border-right: 1px solid #1e2d3d;
}
html body #main-section section#_about_me .page-menu .section-content .section-content-title {
  height: 35px;
  display: flex;
  width: 100%;
  padding-left: 2px;
  border-bottom: 1px solid #1e2d3d;
}
html body #main-section section#_about_me .page-menu .section-content .section-content-title img {
  width: 7px;
  margin: auto 10px;
  transform: rotate(90deg);
  transition: all 0.2s linear;
}
html body #main-section section#_about_me .page-menu .section-content .section-content-title p {
  line-height: 34px;
  margin: 0;
  color: #fff;
  font-size: 14px;
}
html body #main-section section#_about_me .page-menu .section-content .section-content-title.contact {
  border-top: 1px solid #1e2d3d;
}
html body #main-section section#_about_me .page-menu .section-content .content {
  display: none;
}
html body #main-section section#_about_me .page-menu .section-content .content .con-container {
  height: 21px;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
}
html body #main-section section#_about_me .page-menu .section-content .content .con-container img.diple {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 0.5rem;
}
html body #main-section section#_about_me .page-menu .section-content .content .con-container img.folder {
  margin-right: 0.75rem;
  height: auto;
  max-width: 100%;
  width: 16px;
}
html body #main-section section#_about_me .page-menu .section-content .content .con-container p {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  color: rgb(96, 123, 150);
}
html body #main-section section#_about_me .page-menu .section-content .content .con-container.active p {
  color: #fff;
}
html body #main-section section#_about_me .page-menu .section-content .content .con-container.active img.diple {
  transform: rotate(90deg);
}
html body #main-section section#_about_me .page-menu .section-content .content.contact img {
  width: 17px;
  margin-left: 1rem;
  margin-right: 1rem;
}
html body #main-section section#_about_me .page-menu .section-content .content.contact a {
  color: rgb(96, 123, 150);
  text-decoration: none;
  font-size: 14px;
}
html body #main-section section#_about_me .page-menu .section-content .content.contact a:hover {
  color: #fff;
}
html body #main-section section#_about_me .page-menu .section-content .content.contact .con-container {
  display: flex;
  flex-direction: column;
}
html body #main-section section#_about_me .page-content {
  width: 100%;
}
html body #main-section section#_about_me .page-content .wrapper {
  width: 100%;
  display: flex;
}
html body #main-section section#_about_me .page-content .wrapper .mobile-page-title {
  display: none;
}
html body #main-section section#_about_me .page-content .wrapper .mobile-page-menu {
  display: none;
}
html body #main-section section#_about_me .page-content .wrapper .information {
  width: 50%;
}
html body #main-section section#_about_me .page-content .wrapper .information .sec-title {
  max-height: 35px;
  min-height: 35px;
  border-right: 1px solid #1e2d3d;
  border-bottom: 1px solid #1e2d3d;
}
html body #main-section section#_about_me .page-content .wrapper .information .sec-title p {
  margin: 0;
  width: max-content;
  padding: 7px 12px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(96, 123, 150);
  border-right: 1px solid #1e2d3d;
}
html body #main-section section#_about_me .page-content .wrapper .information .mobile-sec-title {
  display: none;
  align-items: flex-end;
  padding: 25px 20px 0 25px;
}
html body #main-section section#_about_me .page-content .wrapper .information .mobile-sec-title h5 {
  font-size: 15px;
  color: #fff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
}
html body #main-section section#_about_me .page-content .wrapper .information .wrapper {
  overflow: hidden;
  height: calc(100vh - 205px);
  padding: 1.25rem;
  border-right: 1px solid #1e2d3d;
}
html body #main-section section#_about_me .page-content .wrapper .information .wrapper .line-numbers {
  width: 100px;
  text-align: right;
}
html body #main-section section#_about_me .page-content .wrapper .information .wrapper .line-numbers .cus-grid {
  display: flex;
}
html body #main-section section#_about_me .page-content .wrapper .information .wrapper .line-numbers .cus-grid span {
  color: rgb(96, 123, 150);
  font-size: 14px;
}
html body #main-section section#_about_me .page-content .wrapper .information .wrapper .line-numbers .cus-grid span.counter {
  width: 50%;
  padding-right: 12.5px;
  display: inline-block;
}
html body #main-section section#_about_me .page-content .wrapper .information .wrapper .line-numbers .cus-grid span.dec {
  width: 50%;
  padding-right: 1px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}
html body #main-section section#_about_me .page-content .wrapper .information .wrapper .text-content {
  overflow: auto;
  display: none;
  width: 78%;
}
html body #main-section section#_about_me .page-content .wrapper .information .wrapper .text-content::-webkit-scrollbar {
  width: 12px;
  border-left: 1px solid #1e2d3d;
  border-bottom: 1px solid #1e2d3d;
  background-color: rgb(1, 22, 39);
}
html body #main-section section#_about_me .page-content .wrapper .information .wrapper .text-content::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: rgb(96, 123, 150);
}
html body #main-section section#_about_me .page-content .wrapper .information .wrapper .text-content p {
  font-size: 14px;
  color: rgb(96, 123, 150);
  word-wrap: break-word;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase {
  width: 50%;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .sec-title {
  max-height: 35px;
  min-height: 35px;
  border-bottom: 1px solid #1e2d3d;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 205px);
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper::-webkit-scrollbar {
  width: 12px;
  border: 1px solid #1e2d3d;
  background-color: rgb(1, 22, 39);
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: rgb(96, 123, 150);
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper h4 {
  display: block;
  color: rgb(96, 123, 150);
  font-size: 0.885rem;
  line-height: 1.25rem;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card .snippet-title {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card .snippet-title .left img {
  width: 2rem;
  height: 2rem;
  margin-top: 5px;
  border-radius: 100%;
  margin-right: 0.5rem;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card .snippet-title .left a {
  color: #4d5bce;
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
  font-weight: bold;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card .snippet-title .left p {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(96, 123, 150);
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card .snippet-title .right img {
  width: 1rem;
  height: 1rem;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card .snippet-title .right span {
  font-size: 12px;
  color: rgb(96, 123, 150);
  margin-right: 1rem;
  cursor: pointer;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card .snippet-title .right span:hover {
  color: #fff;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card pre {
  background-color: #011221;
  border: 1px solid #1e2d3d;
  border-radius: 15px;
  font-size: 12px;
  max-height: 220px;
  padding: 30px 15px;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card pre::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: none;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card pre code {
  color: rgb(96, 123, 150);
  max-height: 220px;
  overflow: hidden;
  white-space: pre-wrap;
  width: max-content;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card p.hide-p {
  margin: 0;
  color: rgb(96, 123, 150);
  font-size: 14px;
  padding: 20px 5px 5px 5px;
  border-top: 1px solid #1e2d3d;
  display: none;
}
html body #main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper .snippet-card p.hide-p.show {
  display: block;
}
html body #main-section section#_projects {
  display: flex;
  height: calc(100% - 85px);
}
html body #main-section section#_projects .page-menu {
  height: 100%;
  overflow: hidden;
  max-width: 275px !important;
  min-width: 275px !important;
  border-right: 1px solid #1e2d3d;
}
html body #main-section section#_projects .page-menu .page-menu-title {
  height: 35px;
  display: flex;
  width: 100%;
  padding-left: 2px;
  border-bottom: 1px solid #1e2d3d;
}
html body #main-section section#_projects .page-menu .page-menu-title img {
  width: 7px;
  margin: auto 10px;
  transform: rotate(90deg);
  transition: all 0.2s linear;
}
html body #main-section section#_projects .page-menu .page-menu-title p {
  line-height: 34px;
  margin: 0;
  color: #fff;
  font-size: 14px;
}
html body #main-section section#_projects .page-menu nav#filters {
  height: 100%;
  overflow: auto;
  padding: 10px 25px;
}
html body #main-section section#_projects .page-menu nav#filters::-webkit-scrollbar {
  width: 12px;
  border-left: 1px solid #1e2d3d;
  border-bottom: 1px solid #1e2d3d;
  background-color: rgb(1, 22, 39);
}
html body #main-section section#_projects .page-menu nav#filters::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: rgb(96, 123, 150);
}
html body #main-section section#_projects .page-menu nav#filters ul {
  padding: 0;
  list-style-type: none;
}
html body #main-section section#_projects .page-menu nav#filters ul li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
html body #main-section section#_projects .page-menu nav#filters ul li input {
  position: relative;
  width: 14.8px;
  height: 14px;
  appearance: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}
html body #main-section section#_projects .page-menu nav#filters ul li input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  box-sizing: border-box;
  border: 2px solid #607b96;
  border-radius: 3px;
  cursor: pointer;
}
html body #main-section section#_projects .page-menu nav#filters ul li input:checked + img {
  opacity: 1;
}
html body #main-section section#_projects .page-menu nav#filters ul li input:checked + img + span {
  color: #fff;
}
html body #main-section section#_projects .page-menu nav#filters ul li input:checked::before {
  top: -5px;
  border-left: none;
  border-top: none;
  cursor: pointer;
  width: 10px;
  border-color: rgb(96, 123, 150);
  transform: rotate(45deg) translate(5px, -2px);
}
html body #main-section section#_projects .page-menu nav#filters ul li img {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 1rem;
  opacity: 0.4;
}
html body #main-section section#_projects .page-menu nav#filters ul li span {
  font-size: 14px;
  color: rgb(96, 123, 150);
}
html body #main-section section#_projects .page-content {
  overflow: hidden;
  width: calc(100% - 245px);
}
html body #main-section section#_projects .page-content .page-content-title {
  overflow: auto;
  width: 100%;
  display: flex;
  max-height: 35px;
  min-height: 35px;
  border-right: 1px solid #1e2d3d;
  border-bottom: 1px solid #1e2d3d;
}
html body #main-section section#_projects .page-content .page-content-title P {
  margin: 0;
  width: max-content;
  padding: 7px 20px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(96, 123, 150);
  border-right: 1px solid #1e2d3d;
}
html body #main-section section#_projects .page-content .page-content-title::-webkit-scrollbar-corner {
  display: none;
}
html body #main-section section#_projects .page-content .page-content-title::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-left: 1px solid #1e2d3d;
  border-bottom: 1px solid #1e2d3d;
  background-color: rgb(1, 22, 39);
}
html body #main-section section#_projects .page-content .page-content-title::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: rgb(96, 123, 150);
}
html body #main-section section#_projects .page-content .wrapper {
  overflow: auto;
  padding: 30px 100px 40px;
  height: calc(100vh - 205px);
}
html body #main-section section#_projects .page-content .wrapper::-webkit-scrollbar {
  width: 12px;
  border-left: 1px solid #1e2d3d;
  border-bottom: 1px solid #1e2d3d;
  background-color: rgb(1, 22, 39);
}
html body #main-section section#_projects .page-content .wrapper::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: rgb(96, 123, 150);
}
html body #main-section section#_projects .page-content .wrapper #not_found {
  display: none !important;
  display: flex;
  padding: 80px 0;
  text-align: center;
  flex-direction: column;
}
html body #main-section section#_projects .page-content .wrapper #not_found span:nth-child(1) {
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: center;
  padding-bottom: 0.75rem;
  color: rgb(96, 123, 150);
}
html body #main-section section#_projects .page-content .wrapper #not_found span:nth-child(2) {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #fff;
}
html body #main-section section#_projects .page-content .wrapper #not_found span:nth-child(3) {
  color: rgb(96, 123, 150);
}
html body #main-section section#_projects .page-content .wrapper span.card-title h5 {
  font-size: 15px;
  font-weight: bold;
  color: #4d5bce;
  display: inline-block;
}
html body #main-section section#_projects .page-content .wrapper span.card-title h6 {
  font-size: 14px;
  display: inline-block;
  color: rgb(96, 123, 150);
}
html body #main-section section#_projects .page-content .wrapper .project-card {
  border: 1px solid #1e2d3d;
  border-radius: 15px;
}
html body #main-section section#_projects .page-content .wrapper .project-card .window {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
html body #main-section section#_projects .page-content .wrapper .project-card .window img {
  width: 100%;
}
html body #main-section section#_projects .page-content .wrapper .project-card .window .icons {
  top: 0.75rem;
  right: 0.75rem;
  position: absolute;
}
html body #main-section section#_projects .page-content .wrapper .project-card .window .icons img {
  width: 1.5rem;
  height: 1.5rem;
}
html body #main-section section#_projects .page-content .wrapper .project-card .card-info {
  background-color: #011221;
  padding: 1.5rem 1.5rem 2rem;
}
html body #main-section section#_projects .page-content .wrapper .project-card .card-info p {
  font-size: 14px;
  color: rgb(96, 123, 150);
}
html body #main-section section#_projects .page-content .wrapper .project-card .card-info a {
  background-color: #1c2b3a;
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 7px;
}
html body #main-section section#_contact_me {
  display: flex;
  height: calc(100% - 85px);
}
html body #main-section section#_contact_me .page-menu {
  height: 100%;
  overflow: hidden;
  max-width: 275px !important;
  min-width: 275px !important;
  border-right: 1px solid #1e2d3d;
}
html body #main-section section#_contact_me .page-menu .page-menu-title1,
html body #main-section section#_contact_me .page-menu .page-menu-title2 {
  cursor: pointer;
  height: 35px;
  display: flex;
  width: 100%;
  padding: 0 17px;
  border-bottom: 1px solid #1e2d3d;
}
html body #main-section section#_contact_me .page-menu .page-menu-title1 img,
html body #main-section section#_contact_me .page-menu .page-menu-title2 img {
  width: 7px;
  margin: auto 10px;
}
html body #main-section section#_contact_me .page-menu .page-menu-title1 p,
html body #main-section section#_contact_me .page-menu .page-menu-title2 p {
  line-height: 34px;
  margin: 0;
  color: #fff;
  font-size: 14px;
}
html body #main-section section#_contact_me .page-menu .page-menu-title1.active img,
html body #main-section section#_contact_me .page-menu .page-menu-title2.active img {
  transform: rotate(90deg);
}
html body #main-section section#_contact_me .page-menu .page-menu-title1.active + div,
html body #main-section section#_contact_me .page-menu .page-menu-title2.active + div {
  display: block;
}
html body #main-section section#_contact_me .page-menu .contacts-info {
  display: none;
}
html body #main-section section#_contact_me .page-menu .contacts-info img {
  width: 17px;
  margin: 0 5px 0 10px;
}
html body #main-section section#_contact_me .page-menu .contacts-info a {
  color: rgb(96, 123, 150);
  text-decoration: none;
  font-size: 14px;
}
html body #main-section section#_contact_me .page-content {
  width: 100%;
}
html body #main-section section#_contact_me .page-content .page-content-title {
  width: 100%;
  display: flex;
  max-height: 35px;
  min-height: 35px;
  border-right: 1px solid #1e2d3d;
  border-bottom: 1px solid #1e2d3d;
}
html body #main-section section#_contact_me .page-content .page-content-title P {
  margin: 0;
  width: max-content;
  padding: 7px 20px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(96, 123, 150);
  border-right: 1px solid #1e2d3d;
}
html body #main-section section#_contact_me .page-content .wrapper {
  display: flex;
}
html body #main-section section#_contact_me .page-content .wrapper .content.left-side {
  width: 50%;
  padding: 50px 25px 0;
  border-right: 1px solid #1e2d3d;
}
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-height: 400px;
  max-width: 320px;
}
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form label {
  color: rgb(96, 123, 150);
  font-size: 14px;
  margin-bottom: 0.75rem;
}
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form input,
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form textarea {
  padding: 0.5rem;
  margin-bottom: 1.25rem;
  font-size: 13px;
  background-color: #011221;
  border: 2px solid #1e2d3d;
  border-radius: 7px;
  color: rgb(96, 123, 150);
}
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form input:focus,
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form textarea:focus {
  border: 2px solid #607b96;
  box-shadow: 0 0 0 2px rgba(96, 123, 150, 0.4117647059);
  outline: none;
  transition: none;
}
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form input::-webkit-scrollbar,
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form textarea::-webkit-scrollbar {
  width: 12px;
  border-left: 1px solid #1e2d3d;
  border-bottom: 1px solid #1e2d3d;
  background-color: rgb(1, 22, 39);
}
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form input::-webkit-scrollbar-thumb,
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form textarea::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: rgb(96, 123, 150);
}
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form input::-webkit-scrollbar-corner,
html body #main-section section#_contact_me .page-content .wrapper .content.left-side form#contact-form textarea::-webkit-scrollbar-corner {
  display: none;
}
html body #main-section section#_contact_me .page-content .wrapper .content.right-side {
  width: 50%;
}
html body #main-section section#_contact_me .page-content .wrapper .content.right-side .form-summary {
  display: flex;
  font-size: 15px;
  height: 100%;
  overflow-y: auto;
  padding: 75px 50px 0 75px;
  width: 100%;
}
html body #main-section section#_contact_me .page-content .wrapper .content.right-side .form-summary .line-numbers {
  width: 1.5rem;
  text-align: right;
}
html body #main-section section#_contact_me .page-content .wrapper .content.right-side .form-summary .line-numbers span {
  display: block;
  color: rgb(96, 123, 150);
}
html body #main-section section#_contact_me .page-content .wrapper .content.right-side .form-summary .code-container {
  padding-left: 40px;
}
html body #main-section section#_contact_me .page-content .wrapper .content.right-side .form-summary .code-container p span.tag {
  color: #c98bdf;
}
html body #main-section section#_contact_me .page-content .wrapper .content.right-side .form-summary .code-container p span.tag-name {
  color: #5565e8;
}
html body #main-section section#_contact_me .page-content .wrapper .content.right-side .form-summary .code-container p span.operator {
  color: #fff;
}
html body #main-section section#_contact_me .page-content .wrapper .content.right-side .form-summary .code-container p span.text-codeline-link {
  color: #e99287;
}
html body #main-section footer {
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #1e2d3d;
}
html body #main-section footer .social-con {
  justify-content: space-between;
}
html body #main-section footer .social-con span.social-title {
  height: 100%;
  font-size: 13px;
  display: inline-block;
  line-height: 43px;
  padding: 0 1.25rem;
  color: rgb(96, 123, 150);
  border-right: 1px solid #1e2d3d;
}
html body #main-section footer .social-con .social-icon {
  font-size: 18px;
}
html body #main-section footer .social-con .social-icon a {
  opacity: 0.5;
  width: 50px;
  height: 100%;
  color: rgb(96, 123, 150);
  transition: all 0.1s;
  display: inline-block;
  border-right: 1px solid #1e2d3d;
}
html body #main-section footer .social-con .social-icon a:hover {
  opacity: 1;
  background-color: #1e2d3d;
}
html body #main-section footer .social-con a.social-github {
  height: 100%;
  color: rgb(96, 123, 150);
  text-decoration: none;
  transition: all 0.1s;
  display: inline-block;
  padding: 0 0.8rem 0 1.25rem;
  font-size: 13px;
  border-left: 1px solid #1e2d3d;
}
html body #main-section footer .social-con a.social-github:hover {
  opacity: 1;
  background-color: #1e2d3d;
}
html body #main-section footer .social-con a.social-github i {
  font-size: 18px;
}
@media only screen and (max-width: 992px) {
  html {
    margin: 10px;
  }
  html body section#main-section {
    height: auto;
  }
  html body section#main-section header.main-navbar {
    display: none;
  }
  html body section#main-section header.mobile-navbar {
    display: block;
  }
  html body section#main-section section#_hello {
    padding: 0;
    height: calc(100vh - (6rem + 70px));
  }
  html body section#main-section section#_hello .css-blurry-gradient-blue {
    filter: blur(70px);
    height: 300px;
    opacity: 0.5;
    width: 300px;
    z-index: 10;
    right: 15%;
    bottom: 20%;
  }
  html body section#main-section section#_hello .css-blurry-gradient-green {
    filter: blur(70px);
    height: 300px;
    opacity: 0.5;
    width: 300px;
    z-index: 10;
    top: 20%;
    right: 28%;
  }
  html body section#main-section section#_hello .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.75rem;
  }
  html body section#main-section section#_hello .hero .head {
    padding-top: 4rem;
  }
  html body section#main-section section#_hello .hero .head span {
    font-size: 18px;
  }
  html body section#main-section section#_hello .hero .head h1 {
    font-size: 55px;
  }
  html body section#main-section section#_hello .hero .head h2 {
    font-size: 20px;
    color: #43d9ad;
  }
  html body section#main-section section#_hello .hero .info span.info-hide {
    display: none;
  }
  html body section#main-section section#_hello .hero .info span.info-show {
    display: block;
  }
  html body section#main-section section#_hello .game {
    display: none;
  }
  html body section#main-section section#_about_me {
    height: auto;
  }
  html body section#main-section section#_about_me .page-menu {
    display: none !important;
  }
  html body section#main-section section#_about_me .page-content {
    width: 100%;
  }
  html body section#main-section section#_about_me .page-content .wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-title {
    display: block;
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 14px;
    height: 70px;
    padding: 0 25px;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-title h2 {
    font-size: 15px;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu {
    display: block;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item {
    border: none;
    border-radius: 0;
    margin-bottom: 0.25rem;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-header {
    width: 100%;
    height: 35px;
    display: flex;
    padding: 0 25px;
    font-size: 14px;
    line-height: 35px;
    color: #fff;
    background-color: #1e2d3d;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-header .accordion-icon {
    margin-right: 10px;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-header .accordion-icon img {
    transition: transform 0.2s ease;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-header.active .accordion-icon img {
    transform: rotate(90deg);
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-header.active + div {
    display: block;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content {
    padding: 10px;
    display: none;
    background-color: rgb(1, 22, 39);
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .tabcontent {
    display: block !important;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .content {
    display: none;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .content .con-container {
    height: 21px;
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .content .con-container img.diple {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 0.5rem;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .content .con-container img.folder {
    margin-right: 0.75rem;
    height: auto;
    max-width: 100%;
    width: 16px;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .content .con-container p {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    color: rgb(96, 123, 150);
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .content .con-container.active p {
    color: #fff;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .content .con-container.active img.diple {
    transform: rotate(90deg);
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .contact img {
    width: 17px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .contact a {
    color: rgb(96, 123, 150);
    text-decoration: none;
    font-size: 14px;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .contact a:hover {
    color: #fff;
  }
  html body section#main-section section#_about_me .page-content .wrapper .mobile-page-menu .accordion .accordion-item .accordion-content .contact .con-container {
    display: flex;
    flex-direction: column;
  }
  html body section#main-section section#_about_me .page-content .wrapper .information {
    height: auto;
    width: 100%;
  }
  html body section#main-section section#_about_me .page-content .wrapper .information .sec-title {
    display: none;
  }
  html body section#main-section section#_about_me .page-content .wrapper .information .mobile-sec-title {
    display: block;
  }
  html body section#main-section section#_about_me .page-content .wrapper .information .wrapper {
    height: auto;
    width: 100%;
  }
  html body section#main-section section#_about_me .page-content .wrapper .information .wrapper p {
    font-size: 16px !important;
  }
  html body section#main-section section#_about_me .page-content .wrapper .information .wrapper .text-content {
    width: 100%;
  }
  html body section#main-section section#_about_me .page-content .wrapper .information .wrapper #lineCount {
    display: none;
  }
  html body section#main-section section#_about_me .page-content .wrapper .code-snippet-showcase {
    width: 100%;
    height: auto;
  }
  html body section#main-section section#_about_me .page-content .wrapper .code-snippet-showcase .sec-title {
    display: none;
  }
  html body section#main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper {
    width: 100%;
    height: auto;
  }
  html body section#main-section section#_about_me .page-content .wrapper .code-snippet-showcase .wrapper h4 {
    color: #fff;
  }
  html body section#main-section footer > div {
    justify-content: start !important;
  }
  html body section#main-section footer .social-con {
    justify-content: left;
  }
  html body section#main-section footer .social-con span.social-title {
    font-size: 14px;
    padding-right: 70px;
  }
  html body section#main-section footer .social-con a.social-github {
    padding: 0;
    opacity: 0.5;
    width: 50px;
    height: 100%;
    color: rgb(96, 123, 150);
    transition: all 0.1s;
    display: inline-block;
    border-right: 1px solid #1e2d3d;
  }
  html body section#main-section footer .social-con a.social-github p.hide {
    display: none !important;
  }
}
@media only screen and (max-width: 365px) {
  html {
    margin: 5px;
  }
  html body section#main-section section#_hello .hero .head span {
    font-size: 13px;
  }
  html body section#main-section section#_hello .hero .head h1 {
    font-size: 40px;
  }
  html body section#main-section section#_hello .hero .head h2 {
    font-size: 15px;
  }
  html body section#main-section footer .social-con span.social-title {
    font-size: 12px;
    padding-right: 0px;
  }
  html body section#main-section footer .social-con a.social-github {
    width: 30px;
  }
}