// variables -start
$primary-color: rgb(1, 12, 21);
$secondary-color: rgb(1, 22, 39);
$color-grey: rgb(96 123 150);
$border-color: #1e2d3d;
$color-white: #e5e9f0;
$color-code-identifier: #4d5bce;
$color-code-variable-name: #43d9ad;
$color-code-operator: #fff;
$color-code-string: #e99287;

// variables -end

html {
  margin: 30px;
  body {
    height: -webkit-fill-available;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: "Fira Code", monospace;
    // main section
    #main-section {
      width: 100%;
      height: calc(100vh - 60px);
      border-radius: 7px;
      border: 1px solid $border-color;
      background-color: $secondary-color;
      // navbar
      header.main-navbar {
        nav {
          width: 100%;
          height: 45px;
          display: flex;
          font-size: 13px;
          justify-content: space-between;
          border-bottom: 1px solid #1e2d3d;
          a#nav-logo {
            max-width: 275px !important;
            min-width: 275px !important;
          }
          a.nav-link-contact {
            border-right: none;
            border-left: 1px solid $border-color;
            &:hover {
              opacity: 1;
              background-color: #1e2d3d74;
            }
          }
          .active {
            color: #fff;
            border-bottom: 2px solid #fea55f;
          }
          a {
            height: 100%;
            z-index: 99;
            display: flex;
            padding: 0 1.5rem;
            color: $color-grey;
            align-items: center;
            text-decoration: none;
            border-right: 1px solid $border-color;
            &.nav-link:hover {
              opacity: 1;
              color: #fff;
              background-color: #1e2d3d74;
            }
          }
        }
      }
      // hello section
      section#_hello {
        width: 100%;
        height: calc(100% - 85px);
        flex: 1 1 auto;
        overflow: hidden;
        padding-left: 275px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //blurry gradient effects
        .css-blurry-gradient-blue {
          right: 10%;
          bottom: 10%;
          opacity: 0.7;
          width: 500px;
          height: 500px;
          rotate: 10deg;
          position: fixed;
          filter: blur(70px);
          background: radial-gradient(
            circle at 50% 50%,
            #4d5bce,
            rgba(76, 0, 255, 0)
          );
          border-radius: 100% 50% 100% 0;
        }
        .css-blurry-gradient-green {
          top: 10%;
          right: 35%;
          opacity: 0.5;
          width: 400px;
          rotate: 20deg;
          height: 400px;
          position: fixed;
          filter: blur(100px);
          background: radial-gradient(
            circle at 50% 50%,
            #43d9ad,
            rgba(76, 0, 255, 0)
          );
        }
        .hero {
          .head {
            padding-bottom: 4rem;
            span,
            h1 {
              line-height: 1;
              color: $color-white;
            }
            span {
              font-size: 18px;
            }
            h1 {
              font-size: 58px;
              padding: 1rem 0;
            }
            h2 {
              font-size: 32px;
              color: #4d5bce;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            span {
              color: #607b96;
              font-size: 14px;
              line-height: 1;
              padding-bottom: 1rem;
            }
            span.hide {
              display: none;
            }
            p {
              font-size: 13px;
              font-weight: 500;
              span.identifier {
                color: $color-code-identifier;
              }
              span.variable-name {
                color: $color-code-variable-name;
              }
              span.operator {
                color: $color-code-operator;
              }
              a.string {
                text-underline-offset: 4px;
                color: $color-code-string;
              }
            }
          }
        }
      }
      footer {
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        border-top: 1px solid $border-color;
        span.social-title {
          font-size: 13px;
          padding: 0 1.25rem;
          color: $color-grey;
          border-right: 1px solid #1e2d3d;
        }
        .social-icon {
          font-size: 18px;
          a {
            opacity: 0.5;
            width: 50px;
            height: 100%;
            color: $color-grey;
            transition: all 0.1s;
            display: inline-block;
            border-right: 1px solid $border-color;
            &:hover {
              opacity: 1;
              background-color: #1e2d3d74;
            }
          }
        }
        a.social-github {
          height: 100%;
          color: $color-grey;
          text-decoration: none;
          transition: all 0.1s;
          display: inline-block;
          padding: 0 0.8rem 0 1.25rem;
          font-size: 13px;
          border-left: 1px solid #1e2d3d;
          &:hover {
            opacity: 1;
            background-color: #1e2d3d74;
          }
          i {
            font-size: 18px;
          }
        }
      }
    }
  }
}
