// variables -start
$primary-color: rgb(1, 12, 21);
$secondary-color: rgb(1, 22, 39);
$color-grey: rgb(96 123 150);
$border-color: #1e2d3d;
$color-white: #e5e9f0;
$color-code-identifier: #4d5bce;
$color-code-variable-name: #43d9ad;
$color-code-operator: #fff;
$color-code-string: #e99287;

// variables -end

html {
  margin: 30px;
  body {
    height: -webkit-fill-available;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: "Fira Code", monospace;
    // main section
    #main-section {
      width: 100%;
      height: calc(100vh - 60px);
      border-radius: 7px;
      border: 1px solid $border-color;
      background-color: $secondary-color;
      // mobile navbar
      header.mobile-navbar {
        display: none;
        nav {
          height: 4rem;
          position: relative;
          line-height: 4rem;
          color: rgb(1, 22, 39);
          border-bottom: 1px solid #1e2d3d;
          input:checked {
            & + ul {
              height: 79vh;
            }
          }
          a.nav-logo {
            font-size: 17px;
            padding: 0 20px;
            color: $color-grey;
            text-decoration: none;
          }
          span.menu-bars {
            font-size: 26px;
            color: $color-grey;
          }
          ul.menu {
            z-index: 999;
            overflow: hidden;
            transition: linear 0.2s;
            height: 0;
            position: relative;
            background-color: rgb(1, 22, 39);
            li {
              padding: 0 24px;
              list-style: none;
              border-bottom: 1px solid #1e2d3d;
              a {
                color: $color-grey;
                text-decoration: none;
                &.active {
                  color: #fff;
                }
              }
            }
          }
        }
      }
      // navbar
      header.main-navbar {
        nav {
          width: 100%;
          height: 45px;
          display: flex;
          font-size: 13px;
          justify-content: space-between;
          border-bottom: 1px solid #1e2d3d;
          a#nav-logo {
            max-width: 275px !important;
            min-width: 275px !important;
          }
          a.nav-link-contact {
            border-right: none;
            border-left: 1px solid $border-color;
            &:hover {
              opacity: 1;
              background-color: #1e2d3d74;
            }
          }
          .active {
            color: #fff;
            border-bottom: 2px solid #fea55f;
          }
          a {
            height: 100%;
            z-index: 99;
            display: flex;
            padding: 0 1.5rem;
            color: $color-grey;
            align-items: center;
            text-decoration: none;
            border-right: 1px solid $border-color;
            &.nav-link:hover {
              opacity: 1;
              color: #fff;
              background-color: #1e2d3d74;
            }
          }
        }
      }
      // hello section
      section#_hello {
        width: 100%;
        height: calc(100% - 85px);
        flex: 1 1 auto;
        overflow: hidden;
        padding-left: 275px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //blurry gradient effects
        .css-blurry-gradient-blue {
          right: 10%;
          bottom: 10%;
          opacity: 0.7;
          width: 500px;
          height: 500px;
          rotate: 10deg;
          position: fixed;
          filter: blur(70px);
          background: radial-gradient(
            circle at 50% 50%,
            #4d5bce,
            rgba(76, 0, 255, 0)
          );
          border-radius: 100% 50% 100% 0;
        }
        .css-blurry-gradient-green {
          top: 10%;
          right: 35%;
          opacity: 0.5;
          width: 400px;
          rotate: 20deg;
          height: 400px;
          position: fixed;
          filter: blur(100px);
          background: radial-gradient(
            circle at 50% 50%,
            #43d9ad,
            rgba(76, 0, 255, 0)
          );
        }
        .hero {
          .head {
            padding-bottom: 4rem;
            span,
            h1 {
              line-height: 1;
              color: $color-white;
            }
            span {
              font-size: 18px;
            }
            h1 {
              font-size: 58px;
              padding: 1rem 0;
            }
            h2 {
              font-size: 32px;
              color: #4d5bce;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            span {
              color: #607b96;
              font-size: 14px;
              line-height: 1;
              padding-bottom: 1rem;
            }
            span.info-show {
              display: none;
            }
            p {
              font-size: 13px;
              font-weight: 500;
              span.identifier {
                color: $color-code-identifier;
              }
              span.variable-name {
                color: $color-code-variable-name;
              }
              span.operator {
                color: $color-code-operator;
              }
              a.string {
                text-underline-offset: 4px;
                color: $color-code-string;
              }
            }
          }
        }
        .game {
          .console {
            height: 370px;
            padding: 24px;
            max-width: 420px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            position: relative;
            background: linear-gradient(
              180deg,
              #237b6d,
              rgba(67, 217, 173, 0.13)
            );
            border: 1px solid #000;
            justify-content: space-between;
            .corner-icons {
              img {
                height: 20px;
                width: 20px;
                &.absolute {
                  position: absolute;
                }
                &.opacity-70 {
                  opacity: 0.7;
                }
                &.top-2 {
                  top: 0.5rem;
                }
                &.left-2 {
                  left: 0.5rem;
                }
                &.right-2 {
                  right: 0.5rem;
                }
                &.bottom-2 {
                  bottom: 0.5rem;
                }
              }
            }
            .game-screen {
              height: 320px;
              width: 192px;
            }
            .game-consloe {
              height: 320px;
              p {
                text-align: left;
                color: #fff;
                font-size: 12px;
              }
              .buttons {
                height: 134px;
                width: 164px;
                margin-left: auto;
                margin-right: 0;
                background-color: #01142330;
                text-align: center;
                border-radius: 7px;
                padding: 10px;
                font-size: 12px;
                button {
                  font-size: 12px;
                  color: #fff;
                  border-radius: 6px;
                  line-height: 12px;
                  height: 25px;
                  width: 40px;
                  align-items: center;
                  background-color: #010c15;
                  margin-bottom: 6px;
                  &.button-up {
                    margin: 0 auto 4px;
                    display: block;
                  }
                  &:hover {
                    background-color: #010c15d8;
                    box-shadow: 0 0 10px #43d9ad;
                  }
                }
              }
              .score-board {
                width: 164px;
                margin-left: auto;
                margin-right: 0;
                padding-left: 1.25rem;
                span.score-item {
                  width: 6px;
                  height: 6px;
                  opacity: 0.3;
                  margin-right: 15px;
                  display: inline-block;
                  background-color: #43d9ad;
                  border-radius: 50%;
                  box-shadow: 0 0 10px #43d9ad;
                  &.active {
                    opacity: 1;
                  }
                }
              }
              a.skip-but {
                color: #fff;
                position: absolute;
                bottom: 24px;
                right: 24px;
                border: 2px solid #fff;
                border-radius: 0.5rem;
                font-size: 12px;
                padding-block: 6px;
                padding-inline: 12px;
                text-decoration: none;
                transition: all 0.2 linear;
                &:hover {
                  background-color: #fff3;
                }
              }
            }
          }
        }
      }
      footer {
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        border-top: 1px solid $border-color;
        .social-con {
          justify-content: space-between;
          span.social-title {
            height: 100%;
            font-size: 13px;
            display: inline-block;
            line-height: 43px;
            padding: 0 1.25rem;
            color: $color-grey;
            border-right: 1px solid #1e2d3d;
          }
          .social-icon {
            font-size: 18px;
            a {
              opacity: 0.5;
              width: 50px;
              height: 100%;
              color: $color-grey;
              transition: all 0.1s;
              display: inline-block;
              border-right: 1px solid $border-color;
              &:hover {
                opacity: 1;
                background-color: #1e2d3d74;
              }
            }
          }
          a.social-github {
            height: 100%;
            color: $color-grey;
            text-decoration: none;
            transition: all 0.1s;
            display: inline-block;
            padding: 0 0.8rem 0 1.25rem;
            font-size: 13px;
            border-left: 1px solid #1e2d3d;
            &:hover {
              opacity: 1;
              background-color: #1e2d3d74;
            }
            i {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 992px) {
    & {
      margin: 10px;
    }
    body {
      section#main-section {
        header.main-navbar {
          display: none;
        }
        header.mobile-navbar {
          display: block;
        }
        section#_hello {
          padding: 0;
          height: calc(100vh - (6rem + 70px));
          .css-blurry-gradient-blue {
            filter: blur(70px);
            height: 300px;
            opacity: 0.5;
            width: 300px;
            z-index: 10;
            right: 15%;
            bottom: 20%;
          }
          .css-blurry-gradient-green {
            filter: blur(70px);
            height: 300px;
            opacity: 0.5;
            width: 300px;
            z-index: 10;
            top: 20%;
            right: 28%;
          }
          .hero {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 1.75rem;
            .head {
              padding-top: 4rem;
              span {
                font-size: 18px;
              }
              h1 {
                font-size: 55px;
              }
              h2 {
                font-size: 20px;
                color: #43d9ad;
              }
            }
            .info {
              span.info-hide {
                display: none;
              }
              span.info-show {
                display: block;
              }
            }
          }
          .game {
            display: none;
          }
        }
        footer {
          & > div {
            justify-content: start !important;
          }
          .social-con {
            justify-content: left;
            span.social-title {
              font-size: 14px;
              padding-right: 70px;
            }
            a.social-github {
              padding: 0;
              opacity: 0.5;
              width: 50px;
              height: 100%;
              color: rgb(96, 123, 150);
              transition: all 0.1s;
              display: inline-block;
              border-right: 1px solid #1e2d3d;
              p.hide {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 365px) {
    & {
      margin: 5px;
    }
    body {
      section#main-section {
        section#_hello {
          .hero {
            .head {
              span {
                font-size: 13px;
              }
              h1 {
                font-size: 40px;
              }
              h2 {
                font-size: 15px;
              }
            }
          }
        }
        footer {
          .social-con {
            span.social-title {
              font-size: 12px;
              padding-right: 0px;
            }
            a.social-github {
              width: 30px;
            }
          }
        }
      }
    }
  }
}
