// variables -start
$primary-color: rgb(1, 12, 21);
$secondary-color: rgb(1, 22, 39);
$color-grey: rgb(96 123 150);
$border-color: #1e2d3d;
$color-white: #e5e9f0;
$color-code-identifier: #4d5bce;
$color-code-variable-name: #43d9ad;
$color-code-operator: #fff;
$color-code-string: #e99287;

// variables -end

html {
  margin: 30px;
  body {
    height: -webkit-fill-available;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: "Fira Code", monospace;
    // main section
    #main-section {
      width: 100%;
      height: calc(100vh - 60px);
      border-radius: 7px;
      border: 1px solid $border-color;
      background-color: $secondary-color;
      // mobile navbar
      header.mobile-navbar {
        display: none;
        nav {
          height: 4rem;
          position: relative;
          line-height: 4rem;
          color: rgb(1, 22, 39);
          border-bottom: 1px solid $border-color;
          input:checked {
            & + ul {
              height: 79vh;
            }
          }
          a.nav-logo {
            font-size: 17px;
            padding: 0 20px;
            color: $color-grey;
            text-decoration: none;
          }
          span.menu-bars {
            font-size: 26px;
            color: $color-grey;
            label {
              transition: all 0.2s linear;
              &.active {
                transform: rotate(90deg);
              }
            }
          }
          ul.menu {
            z-index: 999;
            overflow: hidden;
            transition: linear 0.2s;
            height: 0;
            position: relative;
            background-color: rgb(1, 22, 39);
            li {
              padding: 0 24px;
              list-style: none;
              border-bottom: 1px solid $border-color;
              a {
                color: $color-grey;
                text-decoration: none;
                &.active {
                  color: $color-code-operator;
                }
              }
            }
          }
        }
      }
      // navbar
      header.main-navbar {
        nav {
          width: 100%;
          height: 45px;
          display: flex;
          font-size: 13px;
          justify-content: space-between;
          border-bottom: 1px solid $border-color;
          a#nav-logo {
            max-width: 275px !important;
            min-width: 275px !important;
          }
          a.nav-link-contact {
            border-right: none;
            border-left: 1px solid $border-color;
            &:hover {
              opacity: 1;
              background-color: $border-color;
            }
          }
          .active {
            color: $color-code-operator;
            border-bottom: 2px solid #fea55f;
          }
          a {
            height: 100%;
            z-index: 99;
            display: flex;
            padding: 0 1.5rem;
            color: $color-grey;
            align-items: center;
            text-decoration: none;
            border-right: 1px solid $border-color;
            &.nav-link:hover {
              opacity: 1;
              color: $color-code-operator;
              background-color: $border-color;
            }
          }
        }
      }
      // hello section
      section#_hello {
        width: 100%;
        height: calc(100% - 85px);
        flex: 1 1 auto;
        overflow: hidden;
        padding-left: 275px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //blurry gradient effects
        .css-blurry-gradient-blue {
          right: 10%;
          bottom: 10%;
          opacity: 0.7;
          width: 500px;
          height: 500px;
          rotate: 10deg;
          position: fixed;
          filter: blur(70px);
          background: radial-gradient(
            circle at 50% 50%,
            #4d5bce,
            rgba(76, 0, 255, 0)
          );
          border-radius: 100% 50% 100% 0;
        }
        .css-blurry-gradient-green {
          top: 10%;
          right: 35%;
          opacity: 0.5;
          width: 400px;
          rotate: 20deg;
          height: 400px;
          position: fixed;
          filter: blur(100px);
          background: radial-gradient(
            circle at 50% 50%,
            #43d9ad,
            rgba(76, 0, 255, 0)
          );
        }
        .hero {
          .head {
            padding-bottom: 4rem;
            span,
            h1 {
              line-height: 1;
              color: $color-white;
            }
            span {
              font-size: 18px;
            }
            h1 {
              font-size: 58px;
              padding: 1rem 0;
            }
            h2 {
              font-size: 32px;
              color: #4d5bce;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            span {
              color: #607b96;
              font-size: 14px;
              line-height: 1;
              padding-bottom: 1rem;
            }
            span.info-show {
              display: none;
            }
            p {
              font-size: 13px;
              font-weight: 500;
              span.identifier {
                color: $color-code-identifier;
              }
              span.variable-name {
                color: $color-code-variable-name;
              }
              span.operator {
                color: $color-code-operator;
              }
              a.string {
                text-underline-offset: 4px;
                color: $color-code-string;
              }
            }
          }
        }
        .game {
          .console {
            height: 370px;
            padding: 24px;
            max-width: 420px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            position: relative;
            background: linear-gradient(
              180deg,
              #237b6d,
              rgba(67, 217, 173, 0.13)
            );
            border: 1px solid #000;
            justify-content: space-between;
            .corner-icons {
              img {
                height: 20px;
                width: 20px;
                &.absolute {
                  position: absolute;
                }
                &.opacity-70 {
                  opacity: 0.7;
                }
                &.top-2 {
                  top: 0.5rem;
                }
                &.left-2 {
                  left: 0.5rem;
                }
                &.right-2 {
                  right: 0.5rem;
                }
                &.bottom-2 {
                  bottom: 0.5rem;
                }
              }
            }
            .game-screen {
              height: 320px;
              width: 192px;
            }
            .game-consloe {
              height: 320px;
              p {
                text-align: left;
                color: $color-code-operator;
                font-size: 12px;
              }
              .buttons {
                height: 134px;
                width: 164px;
                margin-left: auto;
                margin-right: 0;
                background-color: #01142330;
                text-align: center;
                border-radius: 7px;
                padding: 10px;
                font-size: 12px;
                button {
                  font-size: 12px;
                  color: $color-code-operator;
                  border-radius: 6px;
                  line-height: 12px;
                  height: 25px;
                  width: 40px;
                  align-items: center;
                  background-color: #010c15;
                  margin-bottom: 6px;
                  &.button-up {
                    margin: 0 auto 4px;
                    display: block;
                  }
                  &:hover {
                    background-color: #010c15d8;
                    box-shadow: 0 0 10px #43d9ad;
                  }
                }
              }
              .score-board {
                width: 164px;
                margin-left: auto;
                margin-right: 0;
                padding-left: 1.25rem;
                span.score-item {
                  width: 6px;
                  height: 6px;
                  opacity: 0.3;
                  margin-right: 15px;
                  display: inline-block;
                  background-color: #43d9ad;
                  border-radius: 50%;
                  box-shadow: 0 0 10px #43d9ad;
                  &.active {
                    opacity: 1;
                  }
                }
              }
              a.skip-but {
                color: $color-code-operator;
                position: absolute;
                bottom: 24px;
                right: 24px;
                border: 2px solid $color-code-operator;
                border-radius: 0.5rem;
                font-size: 12px;
                padding-block: 6px;
                padding-inline: 12px;
                text-decoration: none;
                transition: all 0.2 linear;
                &:hover {
                  background-color: $color-code-operator;
                }
              }
            }
          }
        }
      }
      //about me section
      section#_about_me {
        display: flex;
        height: calc(100% - 85px);
        .page-menu {
          height: 100%;
          max-width: 275px !important;
          min-width: 275px !important;
          .section {
            width: 62px;
            height: 100%;
            padding: 24px 0;
            border-right: 1px solid $border-color;
            div.section-icon {
              color: #607b96;
              display: flex;
              justify-content: center;
              padding-bottom: 24px;
              transition: all 0.2s linear;
              font-size: 20px;
              img {
                opacity: 0.4;
                cursor: pointer;
                &:hover {
                  opacity: 1;
                }
                &.active {
                  opacity: 1;
                }
              }
            }
          }
          .section-content {
            width: 213px;
            border-right: 1px solid $border-color;
            .section-content-title {
              height: 35px;
              display: flex;
              width: 100%;
              padding-left: 2px;
              border-bottom: 1px solid $border-color;
              img {
                width: 7px;
                margin: auto 10px;
                transform: rotate(90deg);
                transition: all 0.2s linear;
              }
              p {
                line-height: 34px;
                margin: 0;
                color: $color-code-operator;
                font-size: 14px;
              }
              &.contact {
                border-top: 1px solid #1e2d3d;
              }
            }
            .content {
              display: none;
              .con-container {
                height: 21px;
                display: flex;
                cursor: pointer;
                justify-content: flex-start;
                img {
                  &.diple {
                    margin-left: 0.75rem;
                    margin-right: 0.75rem;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    width: 0.5rem;
                  }
                  &.folder {
                    margin-right: 0.75rem;
                    height: auto;
                    max-width: 100%;
                    width: 16px;
                  }
                }
                p {
                  font-size: 14px;
                  color: $color-code-operator;
                  display: inline-block;
                  color: $color-grey;
                }
                &.active p {
                  color: $color-code-operator;
                }
                &.active img.diple {
                  transform: rotate(90deg);
                }
              }
              &.contact {
                img {
                  width: 17px;
                  margin-left: 1rem;
                  margin-right: 1rem;
                }
                a {
                  color: $color-grey;
                  text-decoration: none;
                  font-size: 14px;
                  &:hover {
                    color: $color-code-operator;
                  }
                }
                .con-container {
                  display: flex;
                  flex-direction: column;
                }
              }
            }
          }
        }
        .page-content {
          width: 100%;
          .wrapper {
            width: 100%;
            display: flex;
            .mobile-page-title {
              display: none;
            }
            .mobile-page-menu {
              display: none;
            }
            .information {
              width: 50%;
              .sec-title {
                max-height: 35px;
                min-height: 35px;
                border-right: 1px solid $border-color;
                p {
                  margin: 0;
                  width: max-content;
                  padding: 7px 12px;
                  font-size: 0.875rem;
                  line-height: 1.25rem;
                  color: $color-grey;
                  border-right: 1px solid $border-color;
                }
                border-bottom: 1px solid $border-color;
              }
              .wrapper {
                overflow: hidden;
                height: calc(100vh - 205px);
                padding: 1.25rem;
                border-right: 1px solid $border-color;
                .line-numbers {
                  width: 100px;
                  text-align: right;
                  .cus-grid {
                    display: flex;
                    span {
                      color: $color-grey;
                      font-size: 14px;
                      &.counter {
                        width: 50%;
                        padding-right: 12.5px;
                        display: inline-block;
                      }
                      &.dec {
                        width: 50%;
                        padding-right: 1px;
                        text-align: center;
                        display: inline-block;
                        font-size: 14px;
                      }
                    }
                  }
                }
                .text-content {
                  overflow: auto;
                  display: none;
                  width: 78%;
                  &::-webkit-scrollbar {
                    width: 12px;
                    border-left: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;
                    background-color: $secondary-color;
                  }
                  &::-webkit-scrollbar-thumb {
                    height: 30px;
                    background-color: $color-grey;
                  }
                  p {
                    font-size: 14px;
                    color: $color-grey;
                    word-wrap: break-word;
                  }
                }
              }
            }
            .code-snippet-showcase {
              width: 50%;
              .sec-title {
                max-height: 35px;
                min-height: 35px;
                border-bottom: 1px solid $border-color;
              }
              .wrapper {
                padding: 1rem 1.5rem;
                display: flex;
                flex-direction: column;
                overflow: auto;
                height: calc(100vh - 205px);
                &::-webkit-scrollbar {
                  width: 12px;
                  border: 1px solid $border-color;
                  background-color: $secondary-color;
                }
                &::-webkit-scrollbar-thumb {
                  height: 30px;
                  background-color: $color-grey;
                }
                h4 {
                  display: block;
                  color: $color-grey;
                  font-size: 0.885rem;
                  line-height: 1.25rem;
                }
                .snippet-card {
                  .snippet-title {
                    margin: 0.5rem 0;
                    display: flex;
                    justify-content: space-between;
                    .left {
                      img {
                        width: 2rem;
                        height: 2rem;
                        margin-top: 5px;
                        border-radius: 100%;
                        margin-right: 0.5rem;
                      }
                      a {
                        color: #4d5bce;
                        font-size: 0.75rem;
                        line-height: 1rem;
                        text-decoration: none;
                        font-weight: bold;
                      }
                      p {
                        margin: 0;
                        font-size: 0.75rem;
                        line-height: 1rem;
                        color: $color-grey;
                      }
                    }
                    .right {
                      img {
                        width: 1rem;
                        height: 1rem;
                      }
                      span {
                        font-size: 12px;
                        color: $color-grey;
                        margin-right: 1rem;
                        cursor: pointer;
                        &:hover {
                          color: $color-code-operator;
                        }
                      }
                    }
                  }
                  pre {
                    background-color: #011221;
                    border: 1px solid #1e2d3d;
                    border-radius: 15px;
                    font-size: 12px;
                    max-height: 220px;
                    padding: 30px 15px;
                    &::-webkit-scrollbar {
                      width: 5px;
                      height: 5px;
                      display: none;
                    }
                    code {
                      color: $color-grey;
                      max-height: 220px;
                      overflow: hidden;
                      white-space: pre-wrap;
                      width: max-content;
                    }
                  }
                  p.hide-p {
                    margin: 0;
                    color: $color-grey;
                    font-size: 14px;
                    padding: 20px 5px 5px 5px;
                    border-top: 1px solid $border-color;
                    display: none;
                    &.show {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
      footer {
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        border-top: 1px solid $border-color;
        .social-con {
          justify-content: space-between;
          span.social-title {
            height: 100%;
            font-size: 13px;
            display: inline-block;
            line-height: 43px;
            padding: 0 1.25rem;
            color: $color-grey;
            border-right: 1px solid $border-color;
          }
          .social-icon {
            font-size: 18px;
            a {
              opacity: 0.5;
              width: 50px;
              height: 100%;
              color: $color-grey;
              transition: all 0.1s;
              display: inline-block;
              border-right: 1px solid $border-color;
              &:hover {
                opacity: 1;
                background-color: $border-color;
              }
            }
          }
          a.social-github {
            height: 100%;
            color: $color-grey;
            text-decoration: none;
            transition: all 0.1s;
            display: inline-block;
            padding: 0 0.8rem 0 1.25rem;
            font-size: 13px;
            border-left: 1px solid $border-color;
            &:hover {
              opacity: 1;
              background-color: $border-color;
            }
            i {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 992px) {
    & {
      margin: 10px;
    }
    body {
      section#main-section {
        height: auto;
        header.main-navbar {
          display: none;
        }
        header.mobile-navbar {
          display: block;
        }
        section#_hello {
          padding: 0;
          height: calc(100vh - (6rem + 70px));
          .css-blurry-gradient-blue {
            filter: blur(70px);
            height: 300px;
            opacity: 0.5;
            width: 300px;
            z-index: 10;
            right: 15%;
            bottom: 20%;
          }
          .css-blurry-gradient-green {
            filter: blur(70px);
            height: 300px;
            opacity: 0.5;
            width: 300px;
            z-index: 10;
            top: 20%;
            right: 28%;
          }
          .hero {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 1.75rem;
            .head {
              padding-top: 4rem;
              span {
                font-size: 18px;
              }
              h1 {
                font-size: 55px;
              }
              h2 {
                font-size: 20px;
                color: #43d9ad;
              }
            }
            .info {
              span.info-hide {
                display: none;
              }
              span.info-show {
                display: block;
              }
            }
          }
          .game {
            display: none;
          }
        }
        section#_about_me {
          height: auto;
          .page-menu {
            display: none !important;
          }
          .page-content {
            width: 100%;
            .wrapper {
              width: 100%;
              height: auto;
              display: flex;
              flex-direction: column;
              .mobile-page-title {
                display: block;
                align-items: center;
                color: #fff;
                display: flex;
                font-size: 14px;
                height: 70px;
                padding: 0 25px;
                h2 {
                  font-size: 15px;
                }
              }
              .mobile-page-menu {
                display: block;
                .accordion {
                  .accordion-item {
                    border: none;
                    border-radius: 0;
                    margin-bottom: 0.25rem;
                    .accordion-header {
                      width: 100%;
                      height: 35px;
                      display: flex;
                      padding: 0 25px;
                      font-size: 14px;
                      line-height: 35px;
                      color: $color-code-operator;
                      background-color: #1e2d3d;
                      .accordion-icon {
                        margin-right: 10px;
                        img {
                          transition: transform 0.2s ease;
                        }
                      }
                      &.active {
                        .accordion-icon {
                          img {
                            transform: rotate(90deg);
                          }
                        }
                        & + div {
                          display: block;
                        }
                      }
                    }
                    .accordion-content {
                      padding: 10px;
                      display: none;
                      background-color: $secondary-color;
                      .tabcontent {
                        display: block !important;
                      }
                      .content {
                        display: none;
                        .con-container {
                          height: 21px;
                          display: flex;
                          cursor: pointer;
                          justify-content: flex-start;
                          img {
                            &.diple {
                              margin-left: 0.75rem;
                              margin-right: 0.75rem;
                              max-width: -moz-fit-content;
                              max-width: fit-content;
                              width: 0.5rem;
                            }
                            &.folder {
                              margin-right: 0.75rem;
                              height: auto;
                              max-width: 100%;
                              width: 16px;
                            }
                          }
                          p {
                            font-size: 14px;
                            color: $color-code-operator;
                            display: inline-block;
                            color: $color-grey;
                          }
                          &.active p {
                            color: $color-code-operator;
                          }
                          &.active img.diple {
                            transform: rotate(90deg);
                          }
                        }
                      }
                      .contact {
                        img {
                          width: 17px;
                          margin-left: 1rem;
                          margin-right: 1rem;
                        }
                        a {
                          color: $color-grey;
                          text-decoration: none;
                          font-size: 14px;
                          &:hover {
                            color: $color-code-operator;
                          }
                        }
                        .con-container {
                          display: flex;
                          flex-direction: column;
                        }
                      }
                    }
                  }
                }
              }
              .information {
                height: auto;
                width: 100%;
                .sec-title {
                  display: none;
                }
                .wrapper {
                  height: auto;
                  width: 100%;
                  p {
                    font-size: 16px !important;
                  }
                  .text-content {
                    width: 100%;
                  }
                  #lineCount {
                    display: none;
                  }
                }
              }
              .code-snippet-showcase {
                width: 100%;
                height: auto;
                .sec-title {
                  display: none;
                }
                .wrapper {
                  width: 100%;
                  height: auto;
                  h4{
                    color: $color-code-operator;
                  }
                }
              }
            }
          }
        }
        footer {
          & > div {
            justify-content: start !important;
          }
          .social-con {
            justify-content: left;
            span.social-title {
              font-size: 14px;
              padding-right: 70px;
            }
            a.social-github {
              padding: 0;
              opacity: 0.5;
              width: 50px;
              height: 100%;
              color: rgb(96, 123, 150);
              transition: all 0.1s;
              display: inline-block;
              border-right: 1px solid $border-color;
              p.hide {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 365px) {
    & {
      margin: 5px;
    }
    body {
      section#main-section {
        section#_hello {
          .hero {
            .head {
              span {
                font-size: 13px;
              }
              h1 {
                font-size: 40px;
              }
              h2 {
                font-size: 15px;
              }
            }
          }
        }
        footer {
          .social-con {
            span.social-title {
              font-size: 12px;
              padding-right: 0px;
            }
            a.social-github {
              width: 30px;
            }
          }
        }
      }
    }
  }
}
